<ul>
    <li><a class="active" href="/" id="header">Home</a></li>
    <li><a class="active" href="/news" id="header">Sport News</a></li>
    <li><a class="active" href="/crypto" id="header">Crypto</a></li>
    <li><a class="active" href="/currency" id="header">currency</a></li>
</ul>
<div class="sport_news">
    {%for new in news_arry%}
    <figure class="snip1493">

        <div class="image"><img src="{{ new['urlToImage'] }}" alt="ls-sample1" /></div>
        <figcaption>
            <div class="date"><span class="day">20</span><span class="month">Agst</span></div>
            <h3>{{new["title"]}}</h3>
            <p>{{new["description"]}}</p>
        </figcaption>
        <a href="#"></a>
    </figure>
    {%endfor%}

<!-- </div>
    <table>
        <tr>
            <th>index</th>
            <th>name</th>
            <th>price</th>
        </tr>
        {% for key, value in currency_data.items() %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ key }}</td>
            <td>{{ value }}</td>

            {%endfor%}
        </tr>
    </table> -->
<br/>

<div id="wrapper">
    <h1>crypto</h1>
    
    <table id="keywords" cellspacing="0" cellpadding="0">
      <thead>
          <tr>
              <th><span>index</span></th>
              <th><span>name</span></th>
              <th><span>price</span></th>
          <th><span>market cap</span></th>
          <th><span>vol(24h)</span></th>
          <th><span>%(24)</span></th>
        </tr>
    </thead>
    <tbody>
        {%for data in crypto_data%}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ data["name"] }}</td>
            <td>{{ data["quote"]["USD"]["price"] }}</td>
            <td>{{ data["quote"]["USD"]["market_cap"] }}</td>
            <td>{{ data["quote"]["USD"]["volume_24h"] }}</td>
            <td>{{ data["quote"]["USD"]["percent_change_24h"] }}</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
    </div> 
<br/>


<div id="wrapper">
    <h1>currency</h1>
    
    <table id="keywords" cellspacing="0" cellpadding="0">
      <thead>
          <tr>
              <th><span>index</span></th>
              <th><span>name</span></th>
              <th><span>price</span></th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in currency_data.items() %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ key }}</td>
            <td>{{ value }}</td>

        </tr>
        {%endfor%}
    </tbody>
    </table>
   </div> 

<style>
    .sport_news {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    #header {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }

    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
    @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

    .sport_news {
        display: flex;
    }

    .snip1493 {
        font-family: 'Open Sans', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 10px;
        min-width: 250px;
        max-width: 310px;
        width: 100%;
        background-color: #ffffff;
        color: #000000;
        text-align: left;
        font-size: 16px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

    .snip1493 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .snip1493:after {
        position: absolute;
        top: 12px;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0 25px 25px;
        border-color: transparent transparent transparent #d2652d;
        content: '';
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .snip1493 img {
        max-width: 100%;
        vertical-align: top;
        position: relative;
    }

    .snip1493 figcaption {
        padding: 20px 20px 30px;
        background-color: #ffffff;
    }

    .snip1493 .date {
        background-color: #d2652d;
        top: 15px;
        color: #fff;
        right: 15px;
        min-height: 48px;
        min-width: 48px;
        position: absolute;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 50%;
        padding: 10px 0;
    }

    .snip1493 .date span {
        display: block;
        line-height: 14px;
    }

    .snip1493 .date .month {
        font-size: 11px;
    }

    .snip1493 h3,
    .snip1493 p {
        margin: 0;
        padding: 0;
    }

    .snip1493 h3 {
        margin-bottom: 10px;
        display: inline-block;
        font-weight: 700;
    }

    .snip1493 p {
        font-size: 0.8em;
        margin-bottom: 20px;
        line-height: 1.6em;
    }

    .snip1493 footer {
        padding: 0 25px;
        color: #999999;
        font-size: 0.8em;
        line-height: 50px;
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .snip1493 footer>div {
        display: inline-block;
        margin-right: 15px;
    }

    .snip1493 footer i {
        margin-right: 5px;
        font-size: 1.2em;
    }

    .snip1493 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }

    .snip1493:hover:after,
    .snip1493.hover:after {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
</style>

<style>
    @import url('https://fonts.googleapis.com/css?family=Amarante');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body { 
  background: #eee url('https://i.imgur.com/eeQeRmk.png'); /* https://subtlepatterns.com/weave/ */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 { 
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}


/** page structure **/
#wrapper {
  display: block;
  width: 850px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}


#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}
</style>