<body>
    <ul>
        <li><a class="active" href="/" id="header">Home</a></li>
        <li><a class="active"  href="/news" id="header">Sport News</a></li>
        <li><a class="active"  href="/crypto" id="header">Crypto</a></li>
        <li><a class="active"  href="/currency" id="header">currency</a></li>
      </ul>
    <div class="sport_news">
        {%for new in news_arry%}
        <figure class="snip1493">

            <div class="image"><img src="{{ new['urlToImage'] }}" alt="ls-sample1" /></div>
            <figcaption>
                <div class="date"><span class="day">20</span><span class="month">Agst</span></div>
                <h3>{{new["title"]}}</h3>
                <p>{{new["description"]}}</p>
            </figcaption>
            <a href="#"></a>
        </figure>
        {%endfor%}
    </div>
</body>

<style>
    .sport_news {
    display: flex;
    flex-wrap: wrap;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

#header {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
    
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
    @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

    .sport_news{
        display: flex;
    }
    
    .snip1493 {
        font-family: 'Open Sans', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        margin: 10px;
        min-width: 250px;
        max-width: 310px;
        width: 100%;
        background-color: #ffffff;
        color: #000000;
        text-align: left;
        font-size: 16px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

    .snip1493 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .snip1493:after {
        position: absolute;
        top: 12px;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0 25px 25px;
        border-color: transparent transparent transparent #d2652d;
        content: '';
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .snip1493 img {
        max-width: 100%;
        vertical-align: top;
        position: relative;
    }

    .snip1493 figcaption {
        padding: 20px 20px 30px;
        background-color: #ffffff;
    }

    .snip1493 .date {
        background-color: #d2652d;
        top: 15px;
        color: #fff;
        right: 15px;
        min-height: 48px;
        min-width: 48px;
        position: absolute;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 50%;
        padding: 10px 0;
    }

    .snip1493 .date span {
        display: block;
        line-height: 14px;
    }

    .snip1493 .date .month {
        font-size: 11px;
    }

    .snip1493 h3,
    .snip1493 p {
        margin: 0;
        padding: 0;
    }

    .snip1493 h3 {
        margin-bottom: 10px;
        display: inline-block;
        font-weight: 700;
    }

    .snip1493 p {
        font-size: 0.8em;
        margin-bottom: 20px;
        line-height: 1.6em;
    }

    .snip1493 footer {
        padding: 0 25px;
        color: #999999;
        font-size: 0.8em;
        line-height: 50px;
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .snip1493 footer>div {
        display: inline-block;
        margin-right: 15px;
    }

    .snip1493 footer i {
        margin-right: 5px;
        font-size: 1.2em;
    }

    .snip1493 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }

    .snip1493:hover:after,
    .snip1493.hover:after {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
</style>